<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>

<header th:replace="fragments/commons::header" class="header">
</header>
<!-- deal section ends -->
<section class="deal2" style="padding-left: 15rem; padding-right: 15rem"
         th:object="${blogs}"  >

  <div class="content"  >
    <h5 th:text="*{title}" style="margin-top: 2rem; font-size: 3rem; text-align: -webkit-center;" ></h5>
    <p th:text="*{description}"></p>
    <h3 th:text="|Публикувано от *{author.username}|"></h3>
  </div>

  <div class="image">
    <img  th:src="*{picture.getUrl()}" width="450rem" height="520rem" alt="">
  </div>

</section>
<footer th:replace="fragments/commons::footer"></footer>


</body>
</html>