<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>

<header th:replace="fragments/commons::header" class="header">
</header>
<!-- deal section ends -->
<section class="deal2" style="padding-left: 15rem; padding-right: 15rem">

    <div class="content">
            <h5 style="margin-top: 2rem; font-size: 3rem; text-align: -webkit-center;" >#СКНИГАВРЪКА</h5>
            <h4>📚Замисляли ли сте се, че все и все по-често наблюдаваме хората покрай нас с мобилни телефони , които как да кажем не използват за това което може да бъдат полезни , а именно,че те могат да бъдат нашият наръчник , нашият спомагател , нашата Книга , нашите романи, нашите фантастики .....
            </h4>
            <h4>
                📚Нека не забравяме книгата, тя е една от най скъпите неща на планетата, тя ни дава знанията , умениятя , усещането на различни истории,погледнати и осъзнати през нашата призма.
            </h4>
            <h4>
                📚Затова нека всеки един от вас бъде пример за ближния си като го насърчава да научава нещо ново с всеки изминал и да става все и все по-добър.
                Нека мотивираме всеки близък наш човек да държи книга в ръка , тоест знание самото то ни изгражда като личности, но знаете ли още нещо ?
                -“Човек колкото повече неща научава , толкова повече неща разбира,че не знае”.
            </h4>
            <h4>
                📚Затова не спирайте да четете, може един ден тази фраза да не е валидна за самите вас.
            </h4>
            <h4>
                📚Ако този пост ви е повлиял по някакъв начин, моля споделете го , за да може да достигне до повече хора и разберат и вникнат в нашата замисъл
            </h4>
            <h4>
                📚Нека това бъде хаштага описваш идеята #скнигавръка
                @booksforgram
                Отбелязвайте ни , споделяйте ни и очаквайте все повече и повече книги от нас, защото ние не спираме да трупаме нови знания, като четем книги
            </h4>
            <h4>
                📚Четете и вие, книгата е знание!
            </h4>
            <h4>
                📚Ако ви се е сторило дълго,то този пост е насочен към читателите, към хората ,които отделят време да научат нещо ново, за мотовираните хора.
            </h4>
            <h4>
                📚Приятно четене!
            </h4>
            <h4>
                От екипа @booksforgram</h4>
    </div>

    <div class="image">
        <img   src="images/sknigavruka.jpg" width="450rem" height="520rem" alt="">
    </div>

</section>
<footer th:replace="fragments/commons::footer"></footer>


</body>
</html>