
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>

<header th:replace="fragments/commons::header" class="header">
</header>
<h1  th:if="${idss==1}"  class="heading"> <span >Роман</span> </h1>
<h1  th:if="${idss==2}"  class="heading"> <span >Фантастика</span> </h1>
<h1  th:if="${idss==3}"  class="heading"> <span >Фентъзи</span> </h1>
<h1  th:if="${idss==4}"  class="heading"> <span >Психология</span> </h1>
<h1  th:if="${idss==5}"  class="heading"> <span >Ужаси</span> </h1>
<h1  th:if="${idss==6}"  class="heading"> <span >Мистерии</span> </h1>
<h1  th:if="${idss==7}"  class="heading"> <span >Биографии</span> </h1>
<h1  th:if="${idss==8}"  class="heading"> <span >Криминални</span> </h1>


<div class="container d-flex justify-content-center mt-50 mb-50">
  <div class="row">
    <div th:each="b: ${bookList}"  th:object="${b}" class="col-md-4 mt-2">
      <div  th:if="${bookList.size()>0}"   class="card">
        <div class="card-body">
          <div class="card-img-actions center"> <img th:src="*{imageUrl}"class="img-fluid2 img-fluid"  alt=""> </div>
        </div>
        <div class="iconss">
          <a th:href="@{/details/{id}(id = *{id})}" class="fas fa-info"></a>
          <!--                    <form th:action="@{/addToWishList}" th:method="post"  >-->
          <!--                        <input type="hidden" name="add" th:value="*{id}" />-->
          <!--                    <a  th:href="@{/wishlist}" name="add" th:value="*{id}" class=" fas fa-heart"></a>-->
          <!--&lt;!&ndash;                    </form>&ndash;&gt;-->
          <a href="#" class="fas fa-eye"></a>
        </div>
        <div class="card-body bg-light text-center">
          <div class="mb-2">
            <h6  class="font-weight-semibold mb-2">
              <a th:text="*{name}" class="text-default mb-2" >Book "MDKFKWF"</a>
            </h6>
            <a th:text="*{category.getName()}" href="#" class="text-muted" data-abc="true">Roman</a>
          </div>
          <h3 th:text="|*{price}лв.|" class="mb-0 font-weight-semibold">$9</h3>
          <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
          <div class="text-muted mb-3">34 reviews</div>
          <form th:action="@{/addToCart}" th:method="post"  >
            <input type="hidden" name="add" th:value="*{id}" />

            <button  type="submit" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i>Добави в количката</button>
          </form>
          <form th:action="@{/addToWishList}" th:method="post"  >
            <input type="hidden" name="add" th:value="*{id}" />

            <button  type="submit" class="btn bg-cart"><i class=" fas fa-heart mr-2"></i> Добави в любими</button>
          </form>
        </div>

      </div>


  </div>

    <h5 th:if="${bookList.size()==0}" >Няма наличи книги от избраната категория</h5>

</div>

</div>

<footer th:replace="fragments/commons::footer"></footer>

</body>
</html>
