<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::header" class="header">
</header>
<section class="registerAndLoginBg">
  <div class="wrapper">
    <form
            th:object="${user}"
          th:action="@{/profile/{id}/edit(id=*{id})}"
            th:method="patch"


            class="form-register">
      <h2 class="form-register-heading">Редактирай своя профил </h2>
<!--      <input th:field="*{username}"  th:errorclass="bg-danger"-->
<!--             type="text" class="form-control" name="username" placeholder="Потребителско име"-->
<!--             id="username"-->
<!--             aria-describedby="usernameHelpInline" />-->
<!--      <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}"-->
<!--             id="usernameHelpInline"-->
<!--             class="rounded"></small>-->
<!--      <input  th:field="*{email}" th:errorclass="bg-danger" type="email" class="form-control" name="email" placeholder="E-mail адрес" />-->
<!--      <small  th:if="${#fields.hasErrors('email')}" th:errors="*{email}"-->
<!--              class="rounded"></small>-->
      <input th:field="*{first_name}" th:errorclass="bg-danger" type="text" class="form-control" name="firstName" placeholder="Име" />
      <small th:if="${#fields.hasErrors('first_name')}" th:errors="*{first_name}"
             class=" rounded"></small>
      <input  th:field="*{last_name}" th:errorclass="bg-danger" type="text" class="form-control" name="lastName" placeholder="Фамилия" required=""/>
      <small th:if="${#fields.hasErrors('last_name')}" th:errors="*{last_name}"
             class=" rounded"></small>
      <input  th:field="*{age}" th:errorclass="bg-danger" type="number" class="form-control" name="age" placeholder="Години"/>
      <small th:if="${#fields.hasErrors('age')}" th:errors="*{age}"
             class=" rounded"></small>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Редактирай</button>
    </form>
  </div>
</section>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>>